<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title" />{{term}}</h1>
            </div>
            <div class="panel-body">
                <p>{{meaning}}</p>
                <span class="flex flex-row">
                    <img src={{author.picture}} alt="Author Picture" style="height: 32px" class="img-circle">
                    <span class="ml-2 mt-3">{{author.email}}</span>
                </span>
            </div>


            <div class="panel-footer">
                <h5>Related Terms:</h5>
                {{#each relatedTerms}}
                <li>
                    <a href="/glossary/definition/{{this}}">
                        {{this}}
                    </a>
                </li>
                {{/each}}

                <h5>Links:</h5>
                {{#each links}}
                {{>link_partial this}}
                {{/each}}

                {{#ifEquals user.email author.email}}
                <form method="POST" action="/glossary/definition/{{id}}/delete">
                    <button class="btn btn-primary mt-8">Delete</button>
                </form>
                {{/ifEquals}}
            </div>
        </div>
    </div>
</div>