{{>base_layout}}

{{#*inline "page_title"}}
Search
{{/inline}}

{{#*inline "body"}}
<form method="GET" action="/glossary/search">
    <input type="search" name="q" />
    <button type="submit">Search</button>
</form>

{{#if query}}
Results for "{{ query }}":
<ul>
    {{#if definitions}}
    {{#each definitions}}
    <li><a href="http://localhost:3000/glossary/definition/{{this.id}}">{{this.term}}</a>
        <p style="color: gray;">{{this.meaning}}</p>
        <p style="color: chocolate;">{{this.id}}</p>
    </li>
    {{/each}}
    {{else}}
    <div>No results found</div>
    {{/if}}
</ul>
{{/if}}
{{/inline}}